<div class="container">
    <form class="form-horizontal" action='/login' method="POST" id="loginForm">
        <fieldset>
            <div id="legend">
            <legend class="">Login</legend>
            </div>
            {{#if errors}}
                <div class="error-messages">
                    {{#each errors}}
                        <p>{{msg}}</p>
                    {{/each}}
                </div>
            {{/if}}
            <div class="control-group">
                <!-- Username -->
                <label class="control-label"  for="username">Username</label>
                <div class="controls">
                    <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                </div>
            </div>
            <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-success">Login</button>
        </fieldset>
    </form>
</div>