<p id="errorMessages"></p>
<form class="form-horizontal" action='/register' method="POST" id="registrationForm" name="registrationForm">
    <fieldset class="form-group">

        <div id="legend">
            <legend class="">Register</legend>
        </div>
        {{#if errors}}
            <div class="error-messages">
                {{#each errors}}
                    <p>{{msg}}</p>
                {{/each}}
            </div>
        {{/if}}
        <div class="control-group">
            <!-- Username -->
            <label class="control-label"  for="username">Username</label>
            <div class="controls">
                <input type="text" pattern="(?=^.{3,20}$)^[a-zA-Z][a-zA-Z0-9]*[_]?[a-zA-Z0-9]+$" id="username" name="username" placeholder="" class="input-xlarge" required>
                <p class="help-block">Username can contain any letters or numbers (3-20 characters)</p>
            </div>
        </div>

        <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">E-mail</label>
            <div class="controls">
                <input type="email" id="email" name="email" placeholder="" class="input-xlarge" required>
                <p class="help-block">Please provide your E-mail</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" id="password" name="password" placeholder="" class="input-xlarge" required>
                <p class="help-block">Password should be at least 6 characters</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password -->
            <label class="control-label"  for="password_confirm">Password (Confirm)</label>
            <div class="controls">
                <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge" required>
                <p class="help-block">Please confirm password</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button type="submit" class="btn btn-success">Register</button>
            </div>
        </div>
    </fieldset>
</form>