// Width variables (appears count calculates by raw css)
@width1: 100%; // Appears 3 times
@width3: 80%; // Appears 2 times
@width5: 30%; // Appears 3 times

@border1: 3px;

// Height variables (appears count calculates by raw css)
@height3: 100%; // Appears 7 times

.red {
  background-color: red
}

.white{
  background-color: white
}

.yellow {
  background-color: yellow
}

.blue {
  background-color: lightblue
}

.totalEnergy{
  background-color: lightgreen
}


.red, .white, .yellow, .blue, .totalEnergy{
  width:20px;
  height:20px;
  display: inline-block;
  margin-left: 7px;
  text-align: center;
}

h1 {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}
#game-container {
  background-color: darkolivegreen;
  outline: 2px solid;
  height: 650px;
  margin: auto;
  width: 1000px;
  #game-header {
    height: 12%;
  }
  #player1-info {
    background-color: darkgrey;
    float: left;
    height: @height3;
    width: @width5;
  }
  #energy-management {
    float: left;
    height: @height3;
    width: 40%;
  }
  #character-rows {
    background-color: darkblue;
    height: 75%;
    width: @width1;

    .charContainer {
      height: 33.3%;
      outline: 1px;
      width: 100%;

      .char-portrait{
        width:75px;
        height:75px;
      }
    }

    .charLeft {
      float: left;
      width: 20%;
      height: 100%;
    }

    .charRight{
      background-color: lightblue;
      display:inline-block;
      width:80%;
      height:100%;
    }

    .abilityBar{
      float: right;
      width:100%;
      height: 80%;
    }

    .ability{
      display:inline-block;
      margin-left:10px;
      margin-top:5px;
      width:75px;
      height:75px;
    }

    #character-column-ally {
      width: 70%;
      height: 100%;
      float:left;
    }

    #character-column-enemy {
      width: 30%;
      height: 100%;
      display: inline-block;

      .char {
        background-color: #8a6d3b;
      }
    }

  }
  #footer-bar {
    background-color: green;
    height: 13%;
    width: @width1;
    #footer-buttons {
      background-color: deepskyblue;
      float: left;
      height: @height3;
      width: 20%;
      button {
        display: block;
        height: 50%;
        margin: auto;
        vertical-align: middle;
        width: @width3;
      }
    }
    #skill-description {
      background-color: dodgerblue;
      float: left;
      height: @height3;
      width: @width3;
    }
  }
}
#player2-info {
  background-color: grey;
  float: left;
  height: @height3;
  width: @width5;
}

.hp-bar {
  background-color: green;
  outline: 1px;
  text-align: center;
}

.barTimerContainer {
  background-color: white;
  border: solid 1px;
  margin: 4px auto;
  left: 10%;
  width: 80%;
  height: 25%;
}

.barTimer {
  background-color: red;
  height: 100%;
}
